.text {
    font-size: 2em;
    vertical-align: top;
}

.line {
    fill: none;
    stroke: #000000;
    stroke-width: 2px;
}

.axis {
    stroke-width: 2px;
}

#timeline #purchase #balance #payment .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

#timeline #purchase #balance #payment .attention {
    background: yellow;
    margin: -4px;
    padding: 4px;
}

#timeline .area {
    fill: pink;
}

#purchase .area {
    fill: red;
}

#balance .area {
    fill: gold;
}

#payment .area {
    fill: green;
}

.barChart .bar {
    fill: burlywood;
}

.barChart .x.axis path {
    display: none;
}

#gates .x.axis text {
    text-anchor: end;
}

.barChart .y.axis path {
    display: none;
}

#gates .y.axis text {
    text-anchor: end;
}

#gates svg {
    overflow: visible;
}

h2 {
    font-size: 18px;
    margin-left: 40px
}

h1 {
    font-size: 24px;
}