.text{
  font-size: 2em;
  vertical-align: top;
}
.line{
  fill: none;
  stroke: #000000;
  stroke-width: 2px;
}
.line.credit{
  stroke: #990000;
}
.line.debit{
  stroke: #009900;
}
.rect.credit{
  fill: #990000;
}
.rect.debit{
  fill: #009900;
}
.circle.credit{
  stroke: #990000;
}
.circle.debit{
  stroke: #009900;
}
.axis{
    stroke-width: 2px;
}
